<nav role="navigation">
  <ul class="nav-links">
    <li>
      <a href="/" class="home-logo-link">

        <img src="/assets/icons/TuringSchool_LogoMark_Gray.png"
         alt="Turing School of Software and Design logo">
      </a>
    </li>
    <li class="uppercase"><a href="/">Home</a></li>
    <li class="uppercase"><a href="/connect">Resources & Events</a></li>
    <li class="uppercase"><a href="/volunteer">Volunteer</a></li>
    <li class="uppercase"><a href="/faqs">FAQs</a></li>
    <li class="uppercase"><a href="https://turing.edu/donate">Donate</a></li>
  </ul>
</nav>
